.container{
	max-width: $max-width;
	margin: 0 auto;
}

.box{
	border: 1px solid;
	border-color: #979797;
	background-color: #D8D8D8;
}

.display{
	display: flex;
	margin-top: 100px;
	@include celular{
		flex-direction: column;
	}
}

.margin-fixer{
	margin-top: $margin;
}



